* {padding: 3px 15px;
margin: 0px;
}
body {background-color: rgb(63, 123, 125); color: white;}
.uz {
    display: flex;
    justify-content: space-between;
}

ul {
padding: 0px 40px;
display: flex;
gap: 20px;
list-style: none;
align-items: center;
}

h1 {text-align: center;}
p {text-align: center;}
a {text-align: center;}
h2 {text-align: center;}

a {background-color: rgb(144, 208, 49);
padding: 10px 20px;
border-radius: 5px;
color: white;
text-decoration: none;
}